<div class="container-fluid">
    <h3>{{travel?.name}}</h3>
    <hr/>
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group mb-2" role="group" style="padding-right:10px">
            <button class="btn btn-primary" type="button" routerLink="/New/{{travel?._id}}">Add</button>
        </div>
        <div class="btn-group mb-2" role="group">
            <button class="btn" [ngClass]="{'btn-info':showPie, 'btn-outline-info':!showPie}" type="button" (click)="showPie = !showPie">Pie</button>
            <button class="btn" [ngClass]="{'btn-info':showTotal, 'btn-outline-info':!showTotal}"  type="button" (click)="showTotal = !showTotal">Total</button>
        </div>
    </div>
    <app-total-category-table *ngIf="showTotal" travelId="{{travelSelected}}"></app-total-category-table>
    <app-pie *ngIf="showPie" travelId="{{travelSelected}}"></app-pie>
    <app-buy-items showAdd="false" travelId="{{travelSelected}}"></app-buy-items>
</div>