<div class="container-fluid">
    <form class="form">
      <div class="form-group">
          <label for="username">Notendanafn</label>
          <input name="username" type="text"  readonly [ngModel]="username" class="form-control"  />        
      </div>
      <div class="form-group">
          <label for="password">Gamla lykilorðið</label> <mat-error *ngIf="wrongUserNameOrPassword">Wrong uesrname or password</mat-error>
          <input type="password" name="oldPassword" #pass class="form-control" [(ngModel)]="password" />
      </div>
      
      <div class="form-group">
          <label for="password">Nýja lykilorðið</label>
          <input type="password" name="newPassword1" #pass class="form-control" [(ngModel)]="newPassword1" />
      </div>
      <div class="form-group">
          <label for="password">Nýja lykilorðið aftur</label> <mat-error *ngIf="newPasswordNotSame">Lykilorðin eru ekki eins</mat-error>
          <input type="password" name="newPassword2" #pass class="form-control" [(ngModel)]="newPassword2" />
      </div>

    </form>
  
    <button (click)="doChangePassword()">Breyta lykilorði</button>
    <div>
      
    </div>
  </div>