<div class="container-fluid">
    <form class="form" #myForm>

        <div class="form-group">
            <label for="caption">caption</label>
            <input [(ngModel)]="buyItem.caption" type="text" class="form-control" name="caption" id="caption" aria-describedby="captionHelp" placeholder="Enter caption">
            <small #spy id="captionHelp" class="form-text text-muted" i18n="@@BuyItemCaptionHint">Caption of the item.</small>
        </div>

        <div class="form-group">
            <label for="price">price</label>
            <input [(ngModel)]="buyItem.price" type="number" class="form-control" name="price" id="price" aria-describedby="priceHelp" placeholder="Enter price">
            <small #spy id="priceHelp" class="form-text text-muted" i18n="@@BuyItemPriceHint">Caption of the item.</small>
        </div>

        <app-datetime-picker [(Value)]="buyItem.date"></app-datetime-picker>
          
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="currency">Currency</label>
                <select [(ngModel)]="buyItem.currency" name="currency" id="currency" class="form-control">
                    <option *ngFor="let currency of travel?.currencies" [ngValue]="currency.id"> {{currency.id}} </option>
                </select>
                <small  id="priceHelp" class="form-text text-muted" i18n="@@BuyItemPriceHint">Caption of the item.</small>    
            </div>

            <div class="form-group col-md-6">
                <label for="category">Category <div style="width:10px;height:10px;display: inline-block;" [style.backgroundColor]="categoryColor"></div></label>
                <select (change)="UpdateColor()" [(ngModel)]="buyItem.category" name="category" id="category" class="form-control">
                    <option *ngFor="let category of travel?.categories" [ngValue]="category.id" [style.backgroundColor]="category.color" style="mix-blend-mode: difference">{{category.name}}</option>
                </select>
                <small  id="categoryHelp" class="form-text text-muted" i18n="@@BuyItemCategoryHint">Category of the item.</small>    
            </div>

        </div>
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <button class="mt-auto btn btn-link" style="width:100%; text-align: left;" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Split between persons
                    </button>
                </div>
            
                <div id="collapseOne" class1="collapse" aria-labelledby="headingOne" >
                    <div class="card-body">
                        <div class="row" style="margin-bottom: 10px">
                            <select class="col-md-3" #person>
                                <option *ngFor="let person of filterPersons" value="{{person.id}}">{{person.name}}</option>
                            </select> 
                            <div class="col-md-3">
                                <button (click)="AddPersonPrice(person.value)" class="btn btn-space" style="margin-right: 10px">Add Price</button> 
                                <button (click)="AddPersonPercent(person.value)" class="btn btn-space">Add Percent</button>
                            </div>
                        </div>
                        <table>                            
                            <tr><th>Nafn</th><th class="tableV">Gildi</th><th>Tegund</th></tr>
                            <tr *ngFor="let item of buyItem.personsSpent" >
                                <td>{{ getPersionFromId(item.personId) }}</td>
                                <td *ngIf="item.price !== undefined" class="tableV">
                                    <input [(ngModel)]="item.price" type="number" name="price{{item.personId}}"  (change)="UpdatePersonValues()" class="form-control"/> 
                                </td>
                                <td *ngIf="item.price !== undefined">
                                    Spent
                                </td>
                                <td *ngIf="item.percent !== undefined" class="tableV">
                                    <input [(ngModel)]="item.percent" type="number" name="percent{{item.personId}}" (change)="UpdatePersonValues()" class="form-control"/>                           
                                </td>
                                <td *ngIf="item.percent !== undefined">%</td>
                            </tr>
                        </table>
                        <hr>
                        <table style="margin:0px">
                            <tr><td>Total</td><td class="number">{{buyItem.price | number: '0.2'}}</td></tr>
                            <tr><td>% sum</td><td class="number">{{precentPersonSum | number: '0.2'}}</td></tr>
                            <tr><td>sum</td><td class="number">{{pricePersonSum | number: '0.2'}}</td></tr>
                            <tr style="border-top: 1px solid gray"><td>Rest</td><td class="number">{{personSum | number: '0.2'}}</td></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
      <button type="button" class="btn btn-success" (click)="onSave()">Save</button>
      <app-alert #alert></app-alert>
      
      <br>TODO: remove this: {{myForm.className}}
    </form>
</div>