<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/" (click)="hide()">Eyðsla</a>
  <button class="navbar-toggler" type="button" (click)="showHide()" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>



  <div class="navbar-collapse" [class.collapse]="collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/Sync" (click)="hide()">Sync</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/EditTravel" (click)="hide()">New travel</a>
          <a class="dropdown-item" routerLink="/Travels" (click)="hide()">List of travels</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
      <li class="nav-item" >
        {{router.url}}
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-1 mr-sm-2">
      <select class="form-control" [(ngModel)]="travelSelected" name="TravelSel">
        <option *ngFor="let travel of travels" [ngValue]="travel._id">{{travel.name}}</option>
      </select>
    </form>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>