<table class="table-sm table-hover table-border">
  <tr><th>Nafn</th><th colspan="2">Samtals</th></tr>
  <tr *ngFor="let item of data | keyvalue">
    <td>{{item.value.category}}</td> 
    <td style="text-align: right; padding-right: 0px;">{{getThousundDot(item.value.total)}}</td>
    <td style="padding-left: 0px;">{{getAfterDot(item.value.total)}}</td>
</tr>
  <tr style="border-top:1px solid black">
      <td>Samtals</td> 
      <td style="text-align: right; padding-right: 0px;">{{getThousundDot(total)}}</td>
      <td style="padding-left: 0px;">{{getAfterDot(total)}}</td>
    </tr>
</table>